services:

  app:
    build:
      context: .
      dockerfile: Dockerfile
    command: "sh ./entrypoint.sh"
    container_name: app
    networks:
      - app-network
    ports:
      - "${APP_PORT}:8000"
    volumes:
      - .:/app/

#volumes:
#  db_volume:
#    driver: local

networks:
  app-network:
    driver: bridge
